
<h1>Make 25th May a national holiday!</h1>
<form method="POST" action="/login" id="login-form">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"> {{!csrf protection--}}
    <div class="error">{{error}}</div>
    <input type="text" name="email" class="info-reg" placeholder="Email" required>
    <input type="password" name="password" class="info-reg" placeholder="Password" required>
    <button class="button-login" id="login-button">Log in!</button>
</form>
</div>