<div id="ticker-container">
    <div class="ticker"></div>
</div>
<h1>Make 25th May a national holiday!</h1>
<div id="img-div">
<img id="img" src="https://i.imgur.com/3ruZYxq.jpg" alt="towel-day" width="500" height="600">
</div>
<h2>Sign here!</h2>
<form method="POST">
    <input type="text" id="first-name">Name</input>
    <input type="text" id="last-name">Last Name</input>
    <input type="hidden" name="sig" id="sig">
    <div>
        <p>Signature</p>
      <canvas class="signature" name="canvas"></canvas>
    </div>
    <div>
      <button class="button">Submit</button>
    </div>
</form>