{{#if error}}
  <div class="error">Something went wrong! Try again!</div>
{{/if}}
<div id="ticker-container">
    <a id="about" href="https://en.wikipedia.org/wiki/Towel_Day"><p>About a Towel</p></a>
    <ul class="about">
        <li>Massively useful thing</li>
        <li>It has great practical value</li>
        <li>Use it to sail a miniraft</li>
        <li>Wrap it around you</li>
        <li>Lie on it</li>
        <li>Sleep under it</li>
        <li>Wrap it around your head</li>
        <li>Dry yourself off with it</li>
        <li>Wet it for hand-to-hand-combat</li>
        <li>Immense psychological value</li>
    </ul>
    <div class="ticker"></div>
</div>
<h1>Make 25th May a national holiday!</h1>
<h1>Sign here!</h1>
<form method="POST" id="userInput" action="/petition">
    <div id="column1">
        <div id="name"><input type="text" id="firstName" name="firstname" placeholder="First Name" required><p class="description">Name</p></input></div>
        <div id="divLastName"><input type="text" id="lastName" name="lastname" placeholder="Last Name" required><p class="description">Last Name</p></input></div>
        <input type="hidden" name="sig" id="sig">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"> <!--copy in the every hb with forms-->
    </div>
    <div id="column2">
        <div id="canva-div">
            <div id="user-sig">
                <p id="description-sig">Signature</p>
                <canvas id="userSig" class="signature" name="canvas"></canvas>
            </div>
        </div>
        <button class="button">Submit</button>
    </div>
    
</form>