<h1 id="profile-headline">Give us some info about yourself!</h1>
<div class="profile-container">
    <h2>Tell us more!</h2>
    <form method="POST" action="/profile">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"> {{!-- for csrf protection --}}
        <input class="profile-info" type="number" name="age" placeholder="age">
        <input class="profile-info" type="text" name="city" placeholder="city">
        <input class="profile-info" type="text" name="webpage" placeholder="webpage">
        <button id="profile-button" type="submit" value="Save">Submit info</button>
    </form>
</div>