<div id="reg-container">
<div id="ticker-container">
    <span><p>About a Towel</p></span>
    <ul class="about">
        <li>Massively useful thing</li>
        <li>It has great practical value</li>
        <li>Use it to sail a miniraft</li>
        <li>Wrap it around you</li>
        <li>Lie on it</li>
        <li>Sleep under it</li>
        <li>Wrap it around your head</li>
        <li>Dry yourself off with it</li>
        <li>Wet it for hand-to-hand-combat</li>
        <li>Immense psychological value</li>
    </ul>
    <div class="ticker"></div>
</div>
<h1>Make 25th May a national holiday!</h1>
<form method="POST" action="/registration">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"> {{!csrf protection--}}
    <input type="text" name="firstname" class="info-reg" placeholder="First Name" required>
    <input type="text" name="lastname" class="info-reg" placeholder="Last Name" required>
    <input type="text" name="email" class="info-reg" placeholder="Email" required>
    <input type="password" name="password1" class="info-reg" placeholder="Password" required>
    <input type="password" name="password2" class="info-reg" placeholder="And again" required>
    <button class="button" id="regbutton">Register!</button>
</form>
<a id="reg-link" href="/login">Already a supporter? Jump to login!</a>
</div>
<div id="reg-error">{{error}}</div>