<a href="./logout" id="logout">Logout</a>
<div id="thanks">

    <h1>Thank you for signing the petition!</h1>
    <div id="sig-pic">
        <img class="petitioners-thanks" src="{{sig}}" alt="your signature" id="sig-img">
        <p id="sigPic-tag"><a id="petitioners-link" href="/petitioners">Check out</a> all the people who have signed so far!</p>
    </div>
</div>
<div id="delete-link">
    <p>You can <a id="a-delete" href="/delete">delete </a>your signature but note that you might turn into a penguin</p>
</div>