<div id="thanks">
<h1>Thank you for signing the petition!</h1>
<div id="sig-pic">
<img class="petitioners-thanks" src="{{sig}}" alt="your signature" id="sig-img">
<a id="petitioners-link" href="/petitioners"><p id="sigPic-tag">Check out all the people who have signed so far!</p></a>
</div>
</div>
<div id="delete-link">
    <p>You can <a href="/delete">delete </a>your signature but note that you might turn into a penguin</p> 
</div>