<div id="thanks">
<h1>Thank you for signing the petition!</h1>
<div id="sig-pic">
<img class="petitioners-thanks" src="{{sig}}" alt="your signature" id="sig-img">
<a href="/petitioners"><p id="sigPic-tag">Check out all the people that signed so far</p></a>
</div>
</div>