* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: black;
  background-image: url("https://i.imgur.com/tOPp4Kb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.body-container {
  width: 100%;
}


h1 {
  text-align: center;
  font-family: 'Sriracha', cursive;
  color: white;
  text-shadow: 0 5px 10px black;
  font-size: 65px;
}

a {
  font-family: 'Sriracha', cursive;
  font-size: 18px;
  color: white;
  text-shadow: 0 5px 10px black;
}

#thanks {
  text-align: center;
}

#userInput {
  margin-top: 160px;
  width: 100%;
  height: 300px;
}

#name, #divLastName {
  height: 100px;
  width: 200px;
  margin: 5px;
  position: relative;
}

#firstName, #lastName, #signature {
  height: 50px;
  width: 200px;
  border: 3px solid tomato;
  padding: 5px;
}

.description {
  margin-top: -90px;
  font-family: 'Sriracha', cursive;
  color: white;
  text-shadow: 0 5px 10px black;
  position: absolute;
  font-size: 25px;
}

canvas {
  height: 50px;
  width: 400px;
  border: 3px solid tomato;
  color: white;

}

#canva-div {
  height: 100px;
  width: 398px;
  position: relative;
  background-color: rgba(255,255,255, 0.2);
  margin-left: 0;

}

#user-sig, #userSig {
  height: 100px;
  width: 400px;
  margin-top: 3px;
}

#description-sig {
  position: absolute;
  margin-top: -40px;
  font-family: 'Sriracha', cursive;
  color: white;
  font-size: 25px;
}

#column1 {
  float: left;
  width: 390px;
  margin-left: 20px;
  margin-top: 5px;
}

#column2 {
  float:right;
  width: 390px;
  margin-left: 25px;
}

button {
  border-radius: 12px;
  width: 150px;
  height: 50px;
  background-color: #b52e19;
  color: black;
  border: 2px solid black;
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  margin-top: 34px;
  margin-left: 5px;
}

#about {
  color: #fff;
  height: 58px;
  width: 200px;
  position: relative;
  margin: 5px;
  text-align: center;
  border-radius: 4px;
  background: #333;
  font: 25px Raleway, 'Sriracha', cursive ;
  vertical-align: -webkit-baseline-middle;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}



#about-txt {
  position: absolute;
  color: white;
  font-size: 28px;
  font-family: 'Sriracha', cursive;
  margin-top: 0;
  margin-left: 0;
}

#thanks {
  width: 100%;
  height: 100%;
}

.petitioners-list {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: white;
  text-align: center;
  text-shadow: 0 5px 10px black;
}

#petitioners-thanks {
  font-size: 50px;
  font-family: 'Sriracha', cursive;
  color: white;
  text-shadow: 0 5px 10px black;
}

#sig-pic {
  margin-top: 442px;
  height: 300px;
}

#sigPic-tag {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: white;
  text-align: center;
  text-shadow: 0 5px 10px black;
  margin-top: 70px;
}

.error {
  font-size: 30px;
  font-family: 'Sriracha', cursive;
  color: white;
  text-align: center;
  margin-top: 25px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 85px;
}

.info-reg, .profile-info {
  height: 75px;
  width: 300px;
  border: 3px solid #b52e19;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  background: transparent;
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: white;
  margin-left: 5px;
}

#regbutton, #reg-link, #reg-error, #login-form, #login-button {
  margin-left: 5px;

}

#reg-link {
  margin-left: 5px;
  font-size: 28px;
}

#update {
  font-size: 28px;
  margin-left: 5px;
}

#delete-link {
  font-family: 'Sriracha', cursive;
  font-size: 18px;
  color: white;
  text-shadow: 0 5px 10px black;
  text-align: center;
  margin-top: -30px;
}

p {
  margin: 5px;
  font-family: 'Sriracha', cursive;
  font-size: 22px;
  color: white;
  text-shadow: 0 5px 10px black;


}

@keyframes ticker {
  0% {
    margin-top: -45px;
  }
  11% {
    margin-top: -100px;
  }
  22% {
    margin-top: -155px;
  }
  33% {
    margin-top: -205px;
  }
  44% {
    margin-top: -255px;
  }
  55% {
    margin-top: -310px;
  }
  66% {
    margin-top: -370px;
  }
  77% {
    margin-top: -420px;
  }
  88% {
    margin-top: -480px;
  }
  100% {
    margin-top: -25px;
  }
  
}
  
.ul li {
  line-height: 50px;
  list-style: none;
}

#ticker-container {
  background: #b52e19;
  box-shadow: inset 0 -15px 30px rgba(0, 0, 0, 0.4),
              0 5px 10px rgba(0, 0, 0, 0.5);
  width: 800px;
  height: 75px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 4px;
  padding: 3px;
  display: flex;
  align-content: flex-start;
  -webkit-user-select: none;
  margin-top: 20px;
}
  

  
ul {
  float: left;
  padding-left: 25px;
  animation: ticker 25s cubic-bezier(1, 0, 0.5, 0) infinite;
  -webkit-user-select: none;
}
  
ul li a {
  margin-left: 160px;
  color: white;
  text-decoration: none;
  font: 28px;
  font-family: 'Sriracha', cursive;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}

li {
  font-size: 30px;
  font-family: 'Sriracha', cursive;
  width: 450px;
}

ul.about {
  list-style-type: none;
}
  
ul:hover {
  animation-play-state: paused;
}

span:hover + ul {
  animation-play-state: paused;
}

@media only screen and (max-width: 600px) {
    #ticker-container {
    display: none;
    }

    body {
      margin: 0 auto;
      background-color: black;
      background-image: url("https://i.imgur.com/QtMrHzP.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: center;
    }
    
    h1 {
      font-size: 32px;
      margin-left: 9px;
    }

    #reg-link {
      font-size: 23px;
    }

    form {
      margin-bottom: 5px;
      margin-top: -25px;
    }

    #userInput {
      margin-top: 35px;
    }

    #user-sig, #canva-div, #userSig {
      width: 330px;
    }

    #sig-pic {
      margin-top: 276px;
      height: 200px;
      width: 100%;
    }

    #sigPic-tag {
      margin-top: -75px;
      font-size: 21px;
    }

    .petitioners-list {
      font-size: 15px;
    }

    .petitioners-thanks {
      height: 145px;
      width: 340px;
    }


  }

  


